@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

body {
  font-family: 'Lato', sans-serif;
  background-color: AntiqueWhite;
}

code {
  background-color: PaleTurquoise;
  border: 1px solid Teal;
  border-radius: 5px;
  padding-left: 3px;
  padding-right: 3px;
}

h2 {
  color: Maroon;
}

h3 {
  color: Sienna;
}
